<p id="notice"><%= notice %></p>

<p>
  <strong>お名前:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>ご住所:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>お支払方法:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to '編集', edit_order_path(@order) %> |
<%= link_to '戻る', orders_path %>
