<div id = "gametitle">
  FirstFantasy
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'FF.png' %></td>
    <td>世界を動かしている4つの水晶が砕かれようとしている。<br>世界の平和を守るため、水晶を守る冒険が今始まる・・・</td>
  </tr>
</table>

<div id="genre">
  ジャンル：ロールプレイングゲーム<br>
  価格：6,400円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・スワエアエニッワス期待の新作！<br>
  ・ジョブ変更システムにより多様な戦闘が可能<br>
  ・戦闘はコマンド入力方式で楽々<br>
  ・最大4人パーティ編成可能<br>
</div>
<%= button_to '買い物籠に入れる', line_items_path(product_id: 2), remote: true %>

<div>
<%= form_for(@product.comments.build) do |f| %>
  <%= f.hidden_field(:product_id) %><br>
  <%= f.text_field(:name) %><br>
  <%= f.number_field(:score) %><br>
  <%= f.text_area(:body) %><br>
  <%= f.submit %>
  <% end %>
</div>

<div>
  <% @product.comments.each do |comment| %>
  <p>
    <strong>評価者:</strong>
    <%= comment.name %>
  </p>
  <p>
    <strong>点数:</strong>
    <%= comment.score %>
  </p>
  <p>
    <strong>コメント:</strong>
    <%= comment.body %>
  </p>
  <% end %>
</div>
