<p>
  商品名:
  <strong><%= @product.title %></strong>
</p>

<%= image_tag(@product.image_url) %>
<%= sanitize(@product.description) %>

<p>
  価格:
  <strong><%= number_to_currency(@product.price) %></strong>
</p>

<%= button_to '買い物籠に入れる', line_items_path(product_id: @product), remote: true %>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', store_path %>

<p>
<strong>ゲームの特徴：<br>
<%= sanitize(@product.detail) %></strong>
</p>
<br><br><br><br><br>

<div>
【コメント一覧】
  <% @product.comments.each do |comment| %>
  <p>
    <strong>評価者:</strong>
    <%= comment.name %>
  </p>
  <p>
    <strong>点数:</strong>
    <%= comment.score %>
  </p>
  <p>
    <strong>コメント:</strong>
    <%= comment.body %>
  </p>
  <% end %>
</div>

<br><br><br>
<div>
※コメントはこちらから
<%= form_for(@product.comments.build) do |f| %>
  <%= f.hidden_field(:product_id) %><br>
  お名前：<%= f.text_field(:name) %><br>
  点数：<%= f.select :score, Product::SCORE %><br>
  コメント：<%= f.text_area(:body) %><br>
  <%= f.submit %>
  <% end %>
</div>