<p>
  商品名:
  <strong><%= @product.title %></strong>
</p>

<%= image_tag(@product.image_url) %>
<%= sanitize(@product.description) %>

<p>
  価格:
  <strong><%= number_to_currency(@product.price) %></strong>
</p>

<%= button_to '買い物籠に入れる', line_items_path(product_id: @product), remote: true %>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', store_path %>

<p>
<strong>ゲームの特徴：<br>
<%= sanitize(@product.detail) %></strong>
</p>
<br><br><br><br><br>

<div>

<%= flash.notice %>
<%= render "comments/form" %>