<p id="notice"><%= notice %></p>

<p>
  <strong>商品名:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>商品詳細:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>商品イメージ:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>価格:</strong>
  <%= @product.price %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
